src/util/MessageChecker.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2006 U (http://www.altova.com)-->
<!ELEMENT fieldArray EMPTY>
<!ATTLIST fieldArray
	name CDATA #REQUIRED
	size NMTOKEN #REQUIRED
	type CDATA #IMPLIED
>
<!ELEMENT fieldValue EMPTY>
<!ATTLIST fieldValue
	name CDATA #REQUIRED
	value CDATA #REQUIRED
	type CDATA #IMPLIED
>
<!ELEMENT fieldValueInArray EMPTY>
<!ATTLIST fieldValueInArray
	name CDATA #REQUIRED
	index NMTOKEN #REQUIRED
	value CDATA #REQUIRED
	size NMTOKEN #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT fieldObject ((fieldArray | fieldValue | fieldValueInArray | fieldObject | fieldObjectInArray))+>
<!ATTLIST fieldObject
	name CDATA #REQUIRED
	type CDATA #IMPLIED
>
<!ELEMENT fieldObjectInArray ((fieldArray | fieldValue | fieldValueInArray | fieldObject | fieldObjectInArray))+>
<!ATTLIST fieldObjectInArray
	name CDATA #REQUIRED
	index NMTOKEN #REQUIRED
	size NMTOKEN #IMPLIED
	type CDATA #IMPLIED
>
<!ELEMENT message ((fieldArray | fieldValue | fieldValueInArray | fieldObject | fieldObjectInArray))*>
<!ATTLIST message
	occurence NMTOKEN #REQUIRED
>
<!ELEMENT checker (message)*>
