doc/schemas/LibTable.dtd

<!-- DTD for LibTable's config file -->

<!-- root element -->
<!ELEMENT libtable (libentry*)>

<!-- one entry in the LIB table -->
<!ELEMENT libentry (inLabel,inInterface,outInterface,outLabel)>  <!-- in arbitrary order -->
<!ATTLIST libentry
  payload  NMTOKEN  (ipv4|ipv6)  #IMPLIED>  <!-- payload protocol stamped when this
  entry's label is popped; defaults to ipv4 when omitted -->

<!-- input label -->
<!ELEMENT inLabel (#PCDATA)> <!-- integer -->

<!-- input interface -->
<!ELEMENT inInterface (#PCDATA)>  <!-- string, name of interface -->

<!-- output interface -->
<!ELEMENT outInterface (#PCDATA)>  <!-- string, name of interface -->

<!-- output label operations -->
<!ELEMENT outLabel (op*)>

<!-- one label operation: PUSH, POP or SWAP -->
<!ELEMENT op EMPTY>
<!ATTLIST op
  code   NMTOKEN  (push|pop|swap)
  value  NMTOKEN  #IMPLIED>  <!-- when code="push" or "swap"

